/*
* Primary:
* Light Beige #F5EDE3
* Dark Brown  #5A4633
*
*Secundary:
* Soft Beige #DCC5A1
* Tan #C19A6B
* Dark Black #050505
***/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/************************* COMMON *******/
#pet_applications_message_holder,
#my_applications_message_holder {
    width: 100%;
    margin: 60px auto;
}

#pet_applications_message_holder #pet_applications_message,
#my_applications_message_holder,
#my_applications_message {
    text-align: center;
}

/******************* MY APPLICATIONS PAGE **/
#my_applications_list_wrapper {
    width: 950px;
    min-height: 300px;
    margin: 0 auto 100px;
    padding: 0;
}

#my_applications_spinner_holder {
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 40px;
}

#my_applications_spinner_holder .spinner-border {
    height: 80px;
    width: 80px;
    color: #9E7F66;
    margin: 0 auto;
    position: relative;
    top: 40%;
}

#my_applications_wrapper #my_applications_list_holder {
    width: 80%;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
}

#my_applications_list_holder {
    border: solid 1px black;
    border-radius: 5px;
    min-height: 400px;
    height: fit-content;
    padding-bottom: 20px;
}

#my_applications_wrapper .applicationCard_wrapper .application_details_row {
    height: 33%;
    position: relative;
    top: 20px;
}

#my_applications_wrapper .applicationCard_wrapper .applicationCard_container {
    border: solid 1px grey;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #C19A6B;
}

/* Custom CSS to hide the dropdown arrow */
.no-arrow::after {
    display: none !important;
}

#my_applications_wrapper .applicationCard_wrapper .application_img_holder {
    padding: 0;

}

#my_applications_wrapper .applicationCard_wrapper .application_img_holder img {
    height: 198px;
    width: 100%;
    border-top-left-radius: 10px;
}

#my_applications_wrapper .applicationCard_wrapper .drop_application_dropdown {
    text-align: center;
    background-color: beige;
    margin-bottom: 0px;
    padding: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    background-color: #9E7F66;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#my_applications_wrapper .application_drop_holder .dropdown-menu {
    padding: 0;
    width: inherit;
}

#my_applications_wrapper .application_drop_holder .dropdown-item {
    text-align: center;
    background-color: #fae6d3;
    padding: 10px;
}

#my_applications_wrapper .application_drop_holder .dropdown-item .drop_application_warning {
    margin-top: 10px;
    padding: 10px;
}

#my_applications_wrapper .application_details_row small {
    color: #f5ebe3;
}

#my_applications_wrapper .application_details_row p {
    color: #5A4633;
    font-weight: 600;
}

#my_app_price {
    margin-left: 15px;
}

/*************************** Pet Applications Page ***********/
#pet_applications_wrapper {
    width: 990px;
    min-height: 300px;
    margin-bottom: 100px;
    padding: 0;
}

#pet_applications_wrapper #pet_applications_container {
    width: 85%;
    min-height: fit-content;
    margin: 0 auto;
}

#pet_applications_spinner_holder {
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
}

#pet_applications_spinner_holder .spinner-border {
    height: 80px;
    width: 80px;
    color: #9E7F66;
    margin: 0 auto;
    position: relative;
    top: 40%;
}


#pet_applications_list_holder {
    border: solid 1px #C19A6B;
    border-radius: 5px;
    min-height: 300px;
    margin: 0 auto 100px;
    padding-left: 3px;
    padding-right: 3px;
}


#pet_applications_wrapper .pet_application_wrapper .application_details_row {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}

#pet_applications_wrapper .pet_application_wrapper .pet_application_container {
    border: solid 1px #6a5b48;
    border-radius: 10px;
    margin: 15px auto;
    height: fit-content;
    padding-top: 20px;
    background-color: #f5ebe3;
    padding-right: 0;
}

#pet_applications_wrapper .pet_application_wrapper .pet_application_container small {
    font-size: 13px;
    color: #C19A6B;
}

#pet_applications_wrapper .pet_application_wrapper .pet_application_container p {
    color: #5A4633;
    font-weight: 600;
}

/* Custom CSS to hide the dropdown arrow */
.no-arrow::after {
    display: none !important;
}

#pet_applications_wrapper .pet_application_wrapper .pet_application_container>.row {
    width: inherit;
    height: fit-content;
}

#pet_applications_wrapper #statuses_tap_wrapper #statuses_tap_container .col {
    width: 25%;
    text-align: center;
    padding: 0;
}

#pet_applications_wrapper #statuses_tap_wrapper #statuses_tap_container button {
    border: none;
    padding: 10px;
    color: #050505;
    font-weight: 400;

}

#statuses_tap_wrapper #statuses_tap_container #tab_0 {
    background-color: #C19A6B;
    width: 100%;
    border-top-left-radius: 10px;
}

#statuses_tap_wrapper #statuses_tap_container #tab_1 {
    background-color: #fae6d3;
    width: 100%;
}

#statuses_tap_wrapper #statuses_tap_container #tab_2 {
    background-color: #C19A6B;
    width: 100%;
}

#statuses_tap_wrapper #statuses_tap_container #tab_3 {
    background-color: #fae6d3;
    width: 100%;
    border-top-right-radius: 10px;

}

#pet_applications_wrapper .pet_application_card_wrapper .application_img_holder {
    padding: 0;
}

#pet_applications_wrapper .pet_application_card_wrapper .application_img_holder img {
    height: auto;
    width: 100%;
}

#pet_applications_wrapper .pet_application_card_wrapper .drop_application_dropdown {
    text-align: center;
    background-color: beige;
    margin-bottom: 0px;
    padding: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

#pet_applications_wrapper .application_drop_holder .dropdown-item {
    text-align: center;
}

#pet_applications_wrapper .application_drop_holder .dropdown-item .drop_application_warning {

    margin-top: 10px;
}

#view_app_accordion_wrapper {
    padding: 0;
    margin: 0;
}

#view_application_wrapper {
    padding-right: 0;
    background-color: #C19A6B;
}

.view_application_wrapper {
    padding: 0;
}

#view_application_comment_wrapper {
    margin: 0 auto;
    padding: 30px;
}

#view_application_comment_container {
    margin: 0 auto;
    border: solid 1px #f5ebe3;
    border-radius: 10px;
    padding: 30px;
    height: fit-content;
}

#pet_comments_text {
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.5px;
}

#update_status_heading {
    text-align: center;
    margin-top: 20px;
    color: #f5ebe3;
    font-weight: 300;
}

#app_update_status_holder {
    margin: 0 auto;
}

#app_update_status_row {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#app_update_status_row label {
    font-size: 16px
}

.pet_application_wrapper .action-buttons-holder {
    height: 50%;
}

#separator {
    background-color: #000000;
    height: 1px;
    width: 70%;
    margin: 0 auto;
}

#pet_applications_wrapper #view_app_update_status_submit_button {
    width: 40%;
    padding: 10px;
    letter-spacing: 0.5px;
    color: #6a5b48;
    border: solid 1px #6a5b48;
    margin: 0 auto 20px;
    background-color: #fae6d3;
    font-weight: 700;
}


#pet_applications_wrapper #view_app_update_status_submit_button:hover {
    color: #f5ebe3;
    background-color: #6a5b48;
    border: solid 1px #f5ebe3;

}

#pet_applications_wrapper .action-buttons-holder {
    background-color: #6a5b48;
    height: 70px;
    border-radius: 10px;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 4px;
}

#drop_button,
#view_button {
    color: #ffffff;
    font-weight: 700;
}


/************************************************* (min-width: 768px) and (max-width: 990px) ****/

@media (min-width: 768px) and (max-width: 990px) {


    /******************* MY APPLICATIONS PAGE **/
    #my_applications_list_wrapper {
        min-width: inherit;
    }

    #my_applications_spinner_holder {
        height: inherit;
        width: inherit;
        padding: 0;
        margin: 0;
    }

    #my_applications_spinner_holder .spinner-border {
        height: 80px;
        width: 80px;
        color: #9E7F66;
        margin: 0 auto;
        position: relative;
        top: 40%;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_details_row {
        height: 33%;
        padding-top: 20px;
    }

    #my_applications_wrapper .applicationCard_wrapper .applicationCard_container {
        border: solid 1px grey;
        border-radius: 10px;
        margin-top: 30px;
    }

    /* Custom CSS to hide the dropdown arrow */
    .no-arrow::after {
        display: none !important;
    }


    #my_applications_wrapper #my_applications_list_holder {
        width: 95%;
        height: fit-content;
        padding: 10px;
        margin: 0 auto;
    }


    #my_applications_wrapper .applicationCard_wrapper .application_details_row {
        height: 30%;
        padding-top: 0px;
        position: relative;
        top: 12px;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_img_holder {
        padding: 0;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_img_holder img {
        height: auto;
        width: 100%;
        border-top-left-radius: 10px;
    }

    #my_app_free_adoption {
        margin-bottom: 0;
        position: relative;
        top: 2px;
    }

    #my_applications_wrapper .applicationCard_wrapper .drop_application_dropdown {
        text-align: center;
        background-color: beige;
        margin-bottom: 0px;
        padding: 4px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        width: 100%;
        background-color: #9E7F66;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #my_applications_wrapper .application_drop_holder .dropdown-menu {
        padding: 0;
        width: inherit;
    }

    #my_applications_wrapper .application_drop_holder .dropdown-item {
        text-align: center;
        background-color: #fae6d3;
        padding: 10px;
    }

    #my_applications_wrapper .application_drop_holder .dropdown-item .drop_application_warning {
        margin-top: 10px;
        padding: 10px;
    }

    #my_applications_wrapper .application_details_row small {
        color: #f5ebe3;
    }

    #my_applications_wrapper .application_details_row p {
        color: #5A4633;
        font-weight: 600;
    }

    #my_app_price {
        margin-left: 15px;
    }


    /*************************** Pet Applications Page ***********/
    #pet_applications_wrapper {
        width: 990px;
        min-height: 300px;
        margin-bottom: 100px;
        padding: 0;
    }

    #pet_applications_wrapper #pet_applications_container {
        width: 85%;
        min-height: fit-content;
        margin: 0 auto;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_0 {
        background-color: #C19A6B;
        width: 100%;
        border-top-left-radius: 10px;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_1 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_2 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_3 {
        background-color: #C19A6B;
        width: 100%;
        border-top-right-radius: 10px;

    }

}

/*********************************     @media (min-width: 576px) and (max-width: 775px)  *******/
@media (min-width: 575px) and (max-width: 775px) {

    #pet_applications_wrapper .action-buttons-holder {
        background-color: #6a5b48;
        height: 50px;
        border-radius: 10px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 4px;
    }


    #statuses_tap_wrapper #statuses_tap_container #tab_0 {
        background-color: #C19A6B;
        width: 100%;
        border-top-left-radius: 10px;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_1 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_2 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_3 {
        background-color: #C19A6B;
        width: 100%;
        border-top-right-radius: 10px;

    }

    #pet_applications_wrapper .pet_application_wrapper .pet_application_container {
        padding-bottom: 3px;
    }

    /******************* MY APPLICATIONS PAGE **/
    #my_applications_list_wrapper {
        width: 100%;
        height: fit-content;
    }

    #my_applications_wrapper #my_applications_list_holder {
        width: 100%;
        height: inherit;
    }

    #my_applications_wrapper #my_applications_list_holder .application_details_row {
        padding: 5px;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_img_holder img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_details_row {
        position: relative;
        top: 10px;
    }

}

/*********************************     @media (min-width: 356px) and (max-width: 575px)  *******/
@media (min-width: 356px) and (max-width: 575px) {


    /*************************** Pet Applications Page ***********/
    #pet_applications_wrapper {
        width: 100%;
        min-height: 300px;
        margin-bottom: 100px;
        padding: 0;
    }

    #pet_applications_wrapper #pet_applications_container {
        width: 95%;
        min-height: fit-content;
        margin: 0 auto;
    }

    #statuses_tap_wrapper #statuses_tap_container button {
        font-size: 16px;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_0 {
        background-color: #C19A6B;
        width: 100%;
        border-top-left-radius: 10px;

    }

    #statuses_tap_wrapper #statuses_tap_container #tab_1 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_2 {
        background-color: #fae6d3;
        width: 100%;
    }

    #statuses_tap_wrapper #statuses_tap_container #tab_3 {
        background-color: #C19A6B;
        width: 100%;
        border-top-right-radius: 10px;

    }

    #view_application_comment_container {
        padding: 15px;
    }

    #pet_applications_wrapper .action-buttons-holder {
        background-color: #6a5b48;
        height: 50px;
        border-radius: 10px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    #pet_applications_wrapper #view_app_update_status_submit_button {
        width: 60%;
        padding: 10px;
    }

    /******************* MY APPLICATIONS PAGE **/
    #my_applications_list_wrapper {
        width: 95%;
        height: fit-content;
    }

    #my_applications_wrapper #my_applications_list_holder {
        width: 100%;
        height: inherit;
    }

    #my_applications_wrapper #my_applications_list_holder .application_details_row {
        padding: 3px;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_img_holder img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
    }

    #my_applications_wrapper .applicationCard_wrapper .application_details_row {
        position: relative;
        top: 10px;
    }

    #my_applications_wrapper .application_details_row small {
        font-size: 15px;
    }

    #my_applications_wrapper .application_details_row p {
        font-size: 16px;
    }

}