/*
* Primary:
* Light Beige #F5EDE3
* Dark Brown  #5A4633
*
*Secundary:
* Soft Beige #DCC5A1
* Tan #C19A6B
* Dark Black #050505
***/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/************ FONTS */
html {
    font-size: 18px
}

p,
a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    letter-spacing: 0.8px;
}

#update_status_heading,
#post_action_message_holder h6,
#notification_message_container h6,
#reg_heading {
    font-family: "Merriweather", serif;
    letter-spacing: 0.8px;
}

#delete_user_button,
#personal_details_update_wrapper form input,
#list_pet_form label,
#reg_form input,
#reg_form input::placeholder,
#reg_form input::placeholder,
#drop_button,
#view_button,
#pet_applications_wrapper .pet_application_wrapper .pet_application_container p,
#pet_applications_wrapper #statuses_tap_wrapper #statuses_tap_container button,
#pet_applications_wrapper #view_app_update_status_submit_button {
    font-family: "Roboto";
    letter-spacing: 0.8px;
}

#pet_applications_message_holder,
#my_applications_message_holder {
    width: 100%;
    margin: 60px auto;
}

#pet_applications_message_holder #pet_applications_message,
#my_applications_message_holder,
#my_applications_message {
    text-align: center;
}


#create_pet_wrapper,
#register_form_wrapper,
#update_pet_wrapper {
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#create_pet_container,
#register_form_container,
#register_form_wrapper>.row {
    margin: 0 auto;
    width: 80%;
}

#reset_password_wrapper label,
#pet_adoption_wrapper #adoption_form_details label,
#pet_adoption_wrapper #form_textarea label,
#list_pet_form label,
#reg_form label,
#login_form {
    font-size: 15px;
}

#list_pet_form label,
#reg_form label,
#login_form {
    margin-left: 15px;
}

#create_pet_container .parents_info_holder,
#register_form_wrapper #register_form_container {
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: grey;
    margin-bottom: 10px;
}

.form-control:focus,
.form-control:active .form-control:active {
    background: transparent;
}

/* Custom CSS to remove the background color of filled inputs */
#login_form #login_email:valid {
    background-color: transparent !important;
}

/* Remove padding from all containers */
.container,
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Remove margin from all rows */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* Remove padding from all columns */
[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}




/****  NOTIFICATIONS  ***/
.row {
    padding: 0;
}

#notifications_space {
    height: 170px;
}

#post_action_message_holder,
#notification_message_holder,
#only_subscribed_message {
    width: 70%;
    min-height: 70px;
    margin: 40px auto 40px;
}

#post_action_message_wrapper #post_action_message_container {
    width: 80%;
    background-color: #C19A6B;
    padding: 15px 0 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
}

#post_action_message_wrapper #post_action_message_container h6 {
    font-weight: 500;
    color: #F5EDE3;
    font-family: "Roboto";
    letter-spacing: 0.8px;
}

#notification_message_container,
#only_subscribed_message {
    width: 70%;
    background-color: #6a5b48;
    padding: 15px 0 5px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0.8px;
    margin-top: 50px;
}

#notification_message_container {
    width: 100%;
}

#only_subscribed_message {
    color: #F5EDE3;
    font-family: "Roboto";
    width: 90%;
    padding: 10px 0;
}

#header_navbar .dropdown-item {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: 0 auto;
}


#notification_badge_container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #5A4633;
}

#header_navbar #notification_badge_wrapper .show {
    visibility: visible;
}

#header_navbar #notification_badge_wrapper .hidden {
    visibility: hidden;
}

#header_navbar #notification_badge_wrapper {
    position: relative;
    left: 20px;
    bottom: 5px;
    width: 0px;
    margin-left: 0;
}

#header_navbar #notification_badge_wrapper p {
    padding-top: 3px;
    position: relative;
    left: 1px;
    color: #F5EDE3;
    font-weight: 700;
}


#notification_message_container svg {
    color: #F5EDE3;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    bottom: 4px;
}

#post_action_message_holder h6,
#notification_message_container h6 {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 300;
    letter-spacing: 0.8px;
}

.form-control:focus {
    border-color: #C19A6B;
    /* Change to your desired border color */
    box-shadow: 0 0 5px #C19A6B;
    /* Change to your desired shadow */
    outline: none;
    /* Remove the default outline */
}

/********************* HEADER */
#header_navbar {
    background-color: #F5EDE3;
    border-bottom: solid 2px #DCC5A1;
}

#logo_nav_holder {
    background-image: url("/public/assets/images/Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 80px;
    aspect-ratio: 16/9;
    /* Adjust aspect ratio as needed */
}

#header_navbar .navbar-nav a {
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    border-bottom: solid 2px transparent;
}

#header_navbar .navbar-nav a:hover {
    letter-spacing: 1px;
    border-bottom: solid 2px #050505;
}

#header_navbar .navbar-nav a:focus {
    letter-spacing: 1px;
    border-bottom: solid 2px transparent;
}

#header_navbar .dropdown-menu {
    min-width: 350px;
}

#header_navbar .dropdown-menu a {
    margin: 0 auto;
    text-align: center
}

/* Custom CSS to hide the dropdown arrow */
.navbar-nav .dropstart #signIn_button::after {
    display: none !important;
}

#header_navbar #signIn_button {
    background-color: #050505;
    color: #F5EDE3;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

#header_navbar #signIn_button:hover {
    color: #050505;
    background-color: #F5EDE3;
    border-radius: 10px;
    font-weight: bold;
}

#header_navbar div[aria-labelledby="signIn_button"] {
    border-color: #6a5b48;
}

#sign_in_holder {
    width: 60%;
    min-height: 60px;
    height: 40px;
    margin: 40px auto 100px;
    background-color: #6a5b48;
    border-radius: 10px;
}

#sign_in_messsage {
    text-align: center;
    padding: 20px 0 30px;
    height: 40px;
    color: #F5EDE3;
    letter-spacing: 0.8px;
}


/***** HEADER DROPDOWN*/
#header_navbar .dropdown-menu span a {
    color: #050505;
    border-bottom: solid 1px transparent;
    text-align: center;
    text-decoration: none;
}

#header_navbar .dropdown-menu span a:hover {
    border-bottom: solid 1px #050505;
}


/****** HEADER LOGIN FORM */
#login_wrapper {
    width: 550px;
    height: 370px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

#login_action_holder {
    margin-top: 30px;
}

#login_action_holder .col {
    text-align: center;
}

#header_navbar .navbar-nav .col #signUp {
    color: #5A4633;
    font-weight: 700;
    position: relative;
    top: 35px;
    right: 60px;
    font-size: 17px;
}

#header_navbar .navbar-nav #forgot_password {
    font-size: 12px;
    margin-top: 17px;

}

#header_navbar .navbar-nav #forgot_password:hover {
    border-color: transparent;

}

/**** HEADER LOGIN FORM */
#login_form input {
    width: 100%;

}

#login_form label {
    margin-top: 15px;
}

#login_action_holder #login_submit_button {
    width: 90%;
}

#login_message {
    padding-left: 40px;
    font-size: 14px;
    color: #a52a2a;
    margin-top: 20px;
}

/******* FOOTER   ****/
#footer_navbar {
    position: relative;
    margin-top: 100%;
    background-color: #6a5b48;
    height: fit-content;
    padding-top: 60px;
}

#footer_bg_holder img {
    margin: 0 auto 50px;
    width: 200px;
}

#footer_navbar a {
    color: #F5EDE3;
    letter-spacing: 0.8px;
    font-size: 21px;
    border: solid 1px #6a5b48;
}

#footer_navbar a:hover {
    border: solid 1px #F5EDE3;
}

#footer_navbar #logo_footer:hover {
    border: solid 1px transparent;
}

#logo_footer {
    margin: 60px auto;
    background-image: url("/public/assets/images/Logo\ Light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 170px;
    aspect-ratio: 16/9;
    /* Adjust aspect ratio as needed */
}

#footer_navbar #copyright {
    color: #F5EDE3;
    letter-spacing: 0.8px;
    font-size: 12px;
}

/********** ABOUT PAGE */
/********** SERVICES PAGE */
#contact_wrapper,
#dataDeletion_wrapper,
#payment_policy_wrapper,
#about_wrapper,
#services_wrapper,
#privacy_policy_wrapper {
    width: 1400px;
    min-height: fit-content;
}

#contact_container,
#dataDeletion_container,
#payment_policy_container,
#about_container,
#services_container,
#privacy_policy_container {
    width: 80%;
    border: solid 1px #C19A6B;
    border-radius: 10px;
    padding: 40px;
    margin: 140px auto;
    color: #5A4633;
}

#contact_container .row {
    margin-top: 30px;
}

#about_wrapper .li_item,
#services_wrapper .li_item {
    font-weight: 600;
}

#contact_wrapper h1 #dataDeletion_wrapper h1 #payment_policy_heading_heading,
#privacy_policy_wrapper h1,
#services_container h1,
#about_container h1 {
    font-size: 2rem;
}

#contact_wrapper h3,
#contact_wrapper h5 #payment_policy_wrapper h4,
#privacy_policy_wrapper h4,
#about_container h4,
#services_container h4 {
    margin-top: 50px;
}

#contact_wrapper h1,
#contact_wrapper h3,
#contact_wrapper h5,
#payment_policy_wrapper h4,
#payment_policy_heading_heading,
#privacy_policy_wrapper h1,
#privacy_policy_wrapper h4,
#about_container h1,
#about_container h4,
#services_container h1,
#services_container h4 {
    font-family: "Roboto";
    letter-spacing: 0.8px;
    color: #5A4633;
}

/*******************************************   (min-width: 768px) and (max-width: 992px) ********/
@media (min-width: 768px) and (max-width: 992px) {

    #header_navbar .navbar-nav a {
        margin-right: 0px;
    }

    #notification_badge_wrapper {
        position: absolute;
        bottom: 20px;
        left: 220px;
        width: 0px;
    }

    #notification_badge_wrapper p {
        padding-top: 3px;
        padding-left: 2px;
        color: #F5EDE3;
        font-weight: 700;
    }

    /****** HEADER LOGIN FORM */
    #header_navbar .navbar-nav a {
        text-align: center;
        font-size: 20px;
        margin-right: 20px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    #header_navbar #signIn_button {
        text-align: center;
        font-size: 20px;
        color: #050505;
        border-bottom: solid 2px transparent;
        background-color: transparent;
        border-radius: 0;
        font-weight: bold;
    }

    #header_navbar #signIn_button:hover {
        background-color: transparent;
        border-bottom: solid 2px #050505;
        border-radius: 0;
    }

    #login_wrapper {
        width: 95%;
        height: 350px;
        padding-top: 40px;
        padding-bottom: 20px;
    }


    #login_container {
        width: inherit;
    }

    #header_navbar div[aria-labelledby="signIn_button"] {
        position: absolute;
        right: 15px;
        top: 60px;
        margin: 0 auto;
        border-color: #5A4633;
        width: 95%
    }

    #login_message {
        padding-left: 40px;
        font-size: 14px;
        color: #a52a2a;
        margin-top: 20px;
    }

    #header_navbar .navbar-nav a {
        margin-right: 0px;
    }

    #header_navbar .navbar-nav #account_dropdown {
        text-align: end;
    }

    #header_navbar .dropdown-menu a {
        margin: 0 auto;
        text-align: center
    }

    #sign_in_holder {
        width: 90%;
    }

    #login_form {
        width: 90%;
    }


    #notification_message_container svg {
        position: relative;
        right: 8px;
        bottom: 5px;
    }

    /******* FOOTER   ****/
    #footer_navbar {
        position: relative;
        margin-top: 100%;
        background-image: none;
        height: fit-content;
        padding-top: 80px;
    }

    #footer_bg_holder img {
        margin: 0 auto 50px;
    }

    #footer_navbar a {
        color: #F5EDE3;
        letter-spacing: 0.8px;
        font-size: 21px;
        border: solid 1px #6a5b48;
    }

    #footer_navbar a:hover {
        border: solid 1px #F5EDE3;
    }

    #footer_navbar a:focus {
        border-color: transparent;
    }

    #logo_footer {
        margin: 50px auto 50px;
        background-image: url("/public/assets/images/Logo\ Light.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 170px;
        aspect-ratio: 16/9;
        /* Adjust aspect ratio as needed */
    }

    #footer_navbar #copyright {
        color: #F5EDE3;
        letter-spacing: 0.5px;
        font-size: 15px;
    }


    /********** ABOUT PAGE */
    /********** SERVICES PAGE */
    /********** PRIVACY POLICY PAGE */
    #contact_container,
    #dataDeletion_container,
    #payment_policy_container,
    #privacy_policy_container,
    #about_container,
    #services_container {
        width: 90%;
        border: solid 1px #C19A6B;
        border-radius: 10px;
        padding: 40px;
        margin: 140px auto;
        color: #5A4633;
    }

}

/********************************************************  media (min-width: 576px) and (max-width: 776px) *****/
@media (min-width: 576px) and (max-width: 776px) {

    /****** HEADER LOGIN FORM */

    #header_navbar .navbar-nav a {
        text-align: center;
        font-size: 20px;
        margin-right: 20px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    #header_navbar #signIn_button {
        text-align: center;
        font-size: 20px;
        color: #050505;
        border-bottom: solid 2px transparent;
        background-color: transparent;
        border-radius: 0;
        font-weight: bold;
    }

    #header_navbar #signIn_button:hover {
        background-color: transparent;
        border-bottom: solid 2px #050505;
        border-radius: 0;

    }

    #login_wrapper {
        width: 95%;
        height: 350px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #login_container {
        width: inherit;
    }

    #header_navbar div[aria-labelledby="signIn_button"] {
        position: absolute;
        right: 15px;
        top: 60px;
        margin: 0 auto;
        border-color: #5A4633;
        width: 95%
    }

    #login_message {
        padding-left: 40px;
        font-size: 14px;
        color: #a52a2a;
        margin-top: 20px;
    }

    #header_navbar .navbar-nav a {
        margin-right: 0px;
    }

    #header_navbar .navbar-nav #account_dropdown {
        text-align: end;
    }

    #header_navbar .dropdown-menu a {
        margin: 0 auto;
        text-align: center
    }

    #sign_in_holder {
        width: 90%;
    }

    /**** NOTIFIACTIONS */
    #notification_message_container,
    #only_subscribed_message {
        width: 90%;
        background-color: #6a5b48;
        padding: 15px;
    }

    #notification_message_container svg {
        font-size: 1.6rem;
        position: relative;
        left: 5px;
        bottom: 5px;
    }

    /********** ABOUT PAGE */
    /********** SERVICEs PAGE */
    /********** PAYMENT POLICY PAGE */
    /********** PRIVATE POLICY PAGE */
    /********** ABOUT PAGE */
    #contact_container,
    #dataDeletion_container,
    #payment_policy_container,
    #privacy_policy_container,
    #about_container,
    #services_container {
        width: 90%;
        border: solid 1px #C19A6B;
        border-radius: 10px;
        padding: 40px;
        margin: 140px auto;
        color: #5A4633;
    }

}

/********************************************************  media (min-width: 350px) and (max-width: 576px) *****/
@media (min-width: 350px) and (max-width: 576px) {

    #adoption_info_wrapper #adoption_info_holder p,
    #adoption_info_wrapper #adoption_info_holder ul,
    #footer_navbar a,
    #header_navbar .navbar-nav a,
    #footer_navbar a,
    #header_navbar .navbar-nav a,
    #signIn_button,
    #pet_listing_wrapper .view_pet_button,
    #only_subscribed_message {
        font-size: 17px;
    }

    p,
    a,
    ul {

        font-size: 18px;
    }

    #contact_container,
    #dataDeletion_container,
    #payment_policy_container,
    #about_container,
    #services_container,
    #privacy_policy_container {
        padding: 20px;

    }

    .pet_details_row small {
        font-size: 15px;
    }

    .pet_details_row p {
        font-size: 16px;
    }

    #header_navbar .dropdown-menu {
        width: 100%;
        position: relative;
        left: 10px;
    }

    /**** NOTIFIACTIONS */
    /****  COMMON  ***/
    #post_action_message_holder,
    #notification_message_holder {
        width: 98%;
        min-height: 40px;

    }

    #notification_message_container svg {
        font-size: 1.5rem;
        position: relative;
        right: 5px;
        bottom: 5px;
    }

    #post_action_message_holder h6,
    #notification_message_holder h6 {
        font-size: 16px;
    }

    #post_action_message_wrapper #post_action_message_container,
    #notification_message_container {
        width: 80%;
        padding: 10px;
        background-color: #6a5b48;

    }

    #statuses_tap_wrapper #statuses_tap_container button {
        font-family: "Roboto";
        letter-spacing: 0.8px;
    }

    #notifications_space {
        margin-top: 30px;
    }

    #sign_in_holder {
        margin: 40px auto 70px;
        background-color: #6a5b48;
    }

    #sign_in_messsage {
        text-align: center;
        width: 98%;
        padding: 20px 5px;
        height: 0px;
        color: #F5EDE3;
        letter-spacing: 0.8px;
        font-size: 0.9rem;
    }



    #header_navbar #notification_badge_wrapper {}


    #header_navbar #notification_badge_wrapper p {
        font-size: 16px;
    }

    /********************* HEADER */
    #logo_nav_holder {
        background-image: url("/public/assets/images/Logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 170px;
        height: 55px;
        aspect-ratio: 16/9;
        /* Adjust aspect ratio as needed */
        margin-top: 5px;
    }

    #header_navbar .navbar-nav a {
        text-align: center;
        margin-right: 20px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    #header_navbar #signIn_button {
        text-align: center;
        color: #050505;
        border-bottom: solid 2px transparent;
        background-color: transparent;
        border-radius: 0;
        font-weight: bold;
    }

    #header_navbar #signIn_button:hover {
        background-color: transparent;
        border-bottom: solid 2px #050505;
        border-radius: 0;

    }

    /****** HEADER LOGIN FORM */
    #login_wrapper {
        width: 95%;
        height: 350px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #login_container {
        width: inherit;
    }

    #header_navbar div[aria-labelledby="signIn_button"] {
        position: absolute;
        right: -10px;
        top: 60px;
        margin: 0 auto;
        border-color: #5A4633;
        width: 100%;
    }

    #login_message {
        padding-left: 40px;
        font-size: 14px;
        color: #a52a2a;
        margin-top: 20px;
    }

    #header_navbar .navbar-nav a {
        margin-right: 0px;
    }

    #header_navbar .navbar-nav #account_dropdown {
        text-align: end;
    }

    #header_navbar .dropdown-menu a {
        margin: 0 auto;
        text-align: center
    }

    #sign_in_holder {
        width: 90%;
    }

    #header_navbar .navbar-nav #forgot_password {
        font-size: 12px;
        margin-top: 15px;
    }

    #header_navbar .navbar-nav #forgot_password_holder a {
        font-size: 12px;
    }

    /******* FOOTER   ****/
    #logo_footer {
        margin: 50px auto 50px;
        background-image: url("/public/assets/images/Logo\ Light.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 200px;
        height: 150px;
        aspect-ratio: 16/9;
        /* Adjust aspect ratio as needed */
    }


    /********** ABOUT PAGE */
    /********** SERVICES PAGE */
    /********** PAYMENT POLICY PAGE */
    /********** DATADELETION PAGE */
    /********** PRIVACY POLICY PAGE */
    /********** CONTACT PAGE */
    #contact_wrapper,
    #dataDeletion_wrapper,
    #payment_policy_wrapper,
    #privacy_policy_wrapper,
    #about_wrapper,
    #services_wrapper {
        width: 95%;
    }

    #contact_container,
    #dataDeletion_container,
    #payment_policy_container,
    #privacy_policy_container,
    #about_container,
    #services_container {
        width: 95%;
    }

    #contact_wrapper h1 #dataDeletion_wrapper h1,
    #payment_policy_heading_heading,
    #privacy_policy_container h1,
    #about_container h1,
    #services_container h1 {
        font-size: 1.5rem;
    }

    #contact_container h3,
    #payment_policy_container h4,
    #privacy_policy_container h4,
    #about_container h4,
    #services_container h4 {
        font-size: 1.3rem;
    }

    #contact_container h5 {
        font-size: 1.1rem;
    }
}