/*
* Primary:
* Light Beige #F5EDE3
* Dark Brown  #5A4633
*
*Secundary:
* Soft Beige #DCC5A1
* Tan #C19A6B
* Dark Black #050505
***/


/************ FILTERED SEARCH */
#pet_tags_wrapper {
    margin-top: 20px;
}

#pet_tags_container ul {
    width: 50%;
    justify-content: space-evenly;
    margin: 0 auto;
}

#pet_tags_container ul .nav-item button {
    font-family: "Roboto";
    color: #5A4633;
    font-weight: 700;
    letter-spacing: 0.8px;
}

#pet_tags_container ul .nav-item button:hover,
#pet_tags_container ul .nav-item button:focus {
    background-color: #F5EDE3;
}


#pet_tags_container .tab-content .tab-pane {
    text-align: center;
    height: 50px;
}

#pet_tags_container {
    width: 80%;
    background-color: #C19A6B;
    height: 220px;
    border-radius: 10px;
    padding-top: 10px;
}

#pet_tags_container .badge_tag {
    background-color: #5A4633;
    color: #F5EDE3;
    width: 75%;
    border-radius: 15px;
    padding: 4px;
    letter-spacing: 0.5px;
    font-size: 15px;
    cursor: pointer;
}

#pet_tags_container #selected_tags_holder {
    margin-top: 120px;
    width: 80%;
    margin: 120px auto 10px;
}

#selected_tags_holder svg {
    color: #5A4633;
    cursor: pointer;
}

#selected_tags_holder p {
    font-style: italic;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 15px;
    color: #5A4633;
}


#selected_tags_holder #search_button {

    width: 120%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px #5A4633;
    font-family: "Roboto";
    font-weight: 700;
    color: #5A4633;
    padding: 15px;
    letter-spacing: 0.8px;
}


/************ PET LISTNGS  */


#pet_listing_wrapper {
    margin: 160px auto;
}


#load_more_button {
    margin: 0 auto;
    width: fit-content;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #5A4633;
    color: #5A4633;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.8px;
}

#pet_listing_wrapper .pet_card_wrapper {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    height: fit-content;
    border-radius: 10px;
    border: solid 1px #C19A6B;
    background-color: #F5EDE3;
}

#pet_listing_wrapper #pet_listing_container>.row {
    justify-content: space-evenly;
    margin: 0 auto;
}

#pet_listing_wrapper .pet_card_wrapper .card_price_holder {
    color: #F5EDE3;
}

#pet_listing_wrapper .pet_card_wrapper p {
    font-style: italic;
    font-family: "Roboto";
    color: #5A4633;
    font-weight: 700;
    letter-spacing: 0.8px;
}


#pet_listing_wrapper .pet_card_wrapper,
#pet_listing_wrapper .pet_card_wrapper .pet_card_container .row {
    margin: 0;
    padding: 0;
    text-align: center;

}

#pet_listing_wrapper .pet_card_wrapper .pet_card_container .petCard_price {
    text-align: center;
}


#pet_listing_wrapper .pet_card_detail_holder {
    text-align: center;
}

#pet_listing_wrapper .view_pet_button {
    width: 100%;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #C19A6B;
    color: #ffffff;
    border: solid 1px transparent;
    padding: 10px;
}


#pet_listing_wrapper .view_pet_button:hover {
    background-color: #5A4633;
    color: #ffffff;
}


#pet_listing_wrapper {
    width: 1000px;
}


.pet_card_wrapper {
    height: 400px;
    background-color: aquamarine;
}


.pet_card_wrapper .img_holder {
    min-height: 250px;
    max-height: 250px;
    padding: 0;
}

.pet_card_wrapper .img_holder img {
    width: 100%;
}



/* 
#reservations-main-wraper button[type="submit"]:focus {
    outline: none;
    box-shadow: none;
} */


body {
    padding: 0;
    margin: 0;
}


/*************************************** PET VIEW **/

/****** PET VIEW **/
#pet_view_wrapper {
    width: 900px;
    min-height: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
}


#pet_view_wrapper #pet_img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#pet_view_wrapper #pet_img_holder img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid 4px #5A4633;
    max-width: 100%;
    max-height: 100%;
}

#pet_view_wrapper #pet_view_container {
    padding: 20px
}

#pet_view_wrapper #pet_details_comment_wrapper {
    margin: 20px auto 0;
}

#pet_view_wrapper #pet_details_comment_container {
    padding: 20px;
}

#pet_view_wrapper #pet_details_comments_holder {
    margin: 0 auto;
    border: solid 1px #5A4633;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

#pet_view_wrapper #pet_comments_text {
    font-style: italic;
    letter-spacing: 0.5px;
    color: #5A4633;
    font-family: "Roboto";
    font-weight: light;
    letter-spacing: 0.8px
}

#pet_details_comment_container small,
#pet_details_holder small {
    color: #C19A6B;
    font-family: "Roboto";
    font-weight: light;
    letter-spacing: 0.8px
}

#pet_details_holder p {
    color: #5A4633;
    font-weight: 600;
}

#pet_view_wrapper #pet_details_holder {
    padding-left: 30px;
}

#pet_view_wrapper #pet_view_info {
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F5EDE3;
    width: inherit;
    -webkit-box-shadow: -1px 26px 37px -9px rgba(90, 70, 51, 0.92);
    -moz-box-shadow: -1px 26px 37px -9px rgba(90, 70, 51, 0.92);
    box-shadow: -1px 26px 37px -9px rgba(90, 70, 51, 0.92);
}

#pet_view_wrapper #pet_view_info .pet_details_row {
    margin-top: 10px;
}


/****** adoption section */
#pet_adoption_wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 100px auto;
}

#pet_adoption_wrapper #pet_adoption_dropdown_button {
    width: 100%;
    border: solid 1px #5A4633;
    margin-top: 50px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #5A4633;
}

#pet_adoption_wrapper #pet_adoption_dropdown_button:hover {
    width: 100%;
    border: solid 1px #5A4633;
    margin-top: 50px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #F5EDE3;
    background-color: #5A4633;
}

#pet_adoption_wrapper #adoption_application_wrapper {
    padding: 0;
    margin: 0 auto;
}

#pet_adoption_wrapper .adoption_application_wrapper {
    border: solid 1px #5A4633;
    border-radius: 10px;
    padding: 70px;
    margin: 0 auto;
    text-align: center;
}


#formComment,
#pet_adoption_wrapper .adoption_application_wrapper p {
    color: #5A4633;
}

#before_application_text {
    text-align: center;
}


#adoption_form_dropdown {
    margin: 50px auto 0;
}

#adoption_form_dropdown .row,
#adoption_form_body {
    padding: 0;
    margin: 0 auto;
}


#pet_adoption_wrapper #bg_house_pet_view img {
    height: 180px;
    margin-left: 40px;
}

#adoption_form_dropdown #adoption_form_body {
    margin-top: 50px;
}

#pet_adoption_wrapper #adoption_form_title {
    text-align: center;
    margin-bottom: 30px;
}

#pet_adoption_wrapper #adoption_form_details {
    margin-top: 50px;
    margin-bottom: 50px;
}

#compliment_text,
#pet_adoption_wrapper #adoption_form_details label {
    color: #C19A6B;
}

#pet_adoption_wrapper #adoption_form_details input {
    height: 40px;
    width: 95%;
    margin: 0 auto;
}


#pet_adoption_wrapper #adoption_form_details input::placeholder {
    font-family: "Roboto";
    font-size: 17px;
    letter-spacing: 0.2px;
    font-style: italic;
    padding-left: 3px;
    text-align: center;
    font-weight: 300;
    color: #5A4633;
    opacity: 0.8;
}


#pet_adoption_wrapper #form_textarea {
    font-family: "Roboto";
    letter-spacing: 0.8px;
    color: #5A4633;
    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto 40px;
    font-size: 14px;
}

#adoption_form_dropdown #adoption_application_submit_button {
    width: 40%;
    margin: 0 auto;
    height: 40px;
    padding: 0;
    border: none;
    background-color: #5A4633;
    color: #F5EDE3;
    font-family: "Roboto";
    font-weight: 700;
    letter-spacing: 0.8px;
}

#adoption_form_dropdown #adoption_application_submit_button:hover {

    border: solid 1px #5A4633;
    background-color: inherit;
    color: #5A4633;


}


#adoption_form_accordion_wrapper #adoption_form_success_text {
    padding: 30px;
    color: #1b793f;
    font-style: bold;
    text-align: center;
}

#adoption_form_accordion_wrapper #adoption_form_failed_text {
    padding: 30px;
    color: #b53c3c;
    font-style: bold;
    text-align: center;

}


/*********************************** COMMON FORM */

/***** Override autofill default style behavoir ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
input:-webkit-autofill,
#login_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #ffffff inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
    -webkit-text-fill-backgorund-color: #FFFFF0;
    -webkit-text-fill-font-size: 0.513rem;
}


#create_pet_wrapper,
#register_form_wrapper,
#update_pet_wrapper {
    min-height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}

#create_pet_container,
#register_form_container,
#register_form_wrapper>.row {
    margin: 0 auto;
    width: 80%;
}

#pet_adoption_wrapper #adoption_form_details label,
#pet_adoption_wrapper #form_textarea label,
#list_pet_form label,
#reg_form label,
#login_form {
    font-size: 15px;
}

#list_pet_form label,
#reg_form label,
#login_form {
    margin-left: 15px;
}


#create_pet_container .parents_info_holder,
#register_form_wrapper #register_form_container,
#update_pet_wrapper .update_pet_info_wraper {
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: grey;
    margin-bottom: 10px;
}

.form-control:focus,
.form-control:active:autoc .form-control:active {
    background: transparent;
}

/* Custom CSS to remove the background color of filled inputs */
#login_form #login_email:valid {
    background-color: transparent !important;
}

/*************** REGISTRATION FORM */


#register_form_wrapper .reg_form_details_holder {

    margin-top: 7px;
    margin-bottom: 7x;

}

#reg_form input {
    font-size: 14px;
}

#register_form_wrapper button[type="submit"] {

    width: 43%;
    margin: 30px auto;
}

/***************************************  MY LISTING PAGE */
#my_listings_wrapper {
    min-width: 990px;
    max-width: 1100px;
    min-height: fit-content;
    margin-bottom: 180px;
}

#my_listings_wrapper #my_listings_container {
    width: 90%;
    min-height: fit-content;
}

#create_new_pet {
    width: 90%;
    margin: 10px auto;
    background-color: #5A4633;
    color: #F5EDE3;
    font-family: "Roboto";
    font-weight: 700;
    letter-spacing: 0.8px;
    border: solid 1px #5A4633;
}

#create_new_pet:hover {
    margin: 10px auto;
    color: #5A4633;
    background-color: #F5EDE3;
    font-family: "Roboto";
    font-weight: 700;
    letter-spacing: 0.8px;
}

#my_listings_period_holder {
    border: solid 1px #C19A6B;
    border-radius: 10px;
}

#my_listings_list_holder {
    border: solid 1px #C19A6B;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;
    min-height: 500px;
}

.myPetCard_wrapper {
    min-height: 200px;
    width: inherit;
    margin-bottom: 10px;
}

.cardList_container>.row {
    height: inherit;
    padding-top: 20px;
}

#my_listings_spinner_holder {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#my_listings_spinner_holder .spinner-border {
    height: 80px;
    width: 80px;
    color: #9E7F66;
    margin: 200px auto auto;

}

/************* CARDLIST */
.myPetCard_wrapper {
    height: fit-content;
    padding: 0;
    width: inherit;
}

.myPetCard_wrapper .myPetCard_container {
    height: inherit;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-radius: 10px;
    padding: 0;
}

.myPetCard_wrapper .myPetCard_details_row {
    margin-top: 5px;
    padding: 0;
}

.myPetCard_wrapper .myPetCard_details_row small {
    color: #C19A6B;
}

.myPetCard_wrapper .myPetCard_details_row p {
    color: #5A4633;
    font-weight: 600;
    font-family: "Roboto";
    letter-spacing: 0.8px;
}

.myPetCard_wrapper .myPetCard_container .row .col {
    margin: 0;
}

.myPetCard_wrapper .view_pet_applications_link_holder {
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: #9E7F66;
    width: 100%;
}

.myPetCard_wrapper .view_pet_applications_link {
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}

.myPetCard_wrapper .view_pet_applications_link a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 0.5px;
}

.myPetCard_wrapper .myPetCard_img_holder {
    padding-right: 0;
}

.myPetCard_wrapper .myPetCard_img_holder img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
}


.myPetCard_wrapper .delete_listing {

    color: #dca3a3;
    cursor: pointer;
    height: 70%;
    width: 60%;
}

.myPetCard_wrapper .update_listing {
    color: #b9bbe6;
    cursor: pointer;
    height: 60%;
    width: 60%;

}

.drop_petList_accordion_wrapper {
    background-color: #f2dfcfb6;
    width: inherit;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.drop_petList_accordion_wrapper .drop_petList_confirm_button {

    width: 30%;
    background-color: #9E7F66;
    text-align: center;
    margin: 10px auto;
    color: #FFFFF0;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.drop_petList_accordion_wrapper .drop_petList_warning_text {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

/********************** UPDATE PET FORM*/

#update_pet_wrapper .update_pet_img_holder {
    height: inherit;
}

#update_pet_wrapper .update_pet_img_holder img {
    width: 100%;
}

#update_pet_wrapper .update_pet_info_wraper .row,
#update_pet_wrapper .update_pet_info_wraper .row .col,
#update_pet_wrapper .update_pet_info_holder .row,
#update_pet_wrapper .update_pet_info_holder div {
    margin: 0;
}

#update_pet_wrapper #formBirthMonth .form-control,
#update_pet_wrapper #formBirthYear .form-control {
    height: 10px;
}

#update_pet_failed_message_holder,
#create_pet_failed_message_holder {
    width: 100%;
    height: 100px;
    margin: 20px auto;

}

#update_pet_failed_message,
#create_pet_failed_message {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    padding: 20px;
    color: #b53c3c;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* @media (min-width: 992px) and (max-width: 992px) {

} */

/************************************************* (min-width: 768px) and (max-width: 990px) ****/

@media (min-width: 768px) and (max-width: 992px) {


    /******************************** FILTERED SEARCH */
    #pet_tags_wrapper {
        margin-top: 20px;
    }

    #pet_tags_container ul {
        width: 100%;
    }

    #pet_tags_container {
        width: 100%;
        height: 220px;
    }

    #badge_tag_holder .tag_column {
        padding: 0;
        margin-bottom: 5px;
    }

    #badge_tag_holder {
        margin: 0 auto;
        width: 90%;
    }

    #pet_tags_container .badge_tag {
        width: 80%;
        letter-spacing: 0.8px;
    }

    #pet_tags_container #selected_tags_holder {
        margin-top: 120px;
        width: 90%;
        margin: 120px auto 10px;
    }

    #selected_tags_holder #search_button {
        width: 110%;
    }

    /******************************************* PET LISTNGS (HOMPAGE)  */
    #pet_listing_wrapper {
        width: 900px;
        margin: 150px auto;
        padding: 0;
    }

    #pet_listing_wrapper #pet_listing_container {
        margin: 0 auto;
        padding: 0;
        width: inherit;
    }

    .pet_card_wrapper {
        height: 400px;
    }

    .pet_card_wrapper .img_holder {
        min-height: 250px;
        max-height: 250px;
        padding: 0;
    }

    .pet_card_wrapper .img_holder img {
        width: 100%;
    }


    /*********************************************** PET DETAILS VIEW *****/
    /****** PET VIEW **/
    #pet_view_wrapper {
        width: 800px;
        min-height: fit-content;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #pet_details_holder small {
        font-size: 14px;
    }

    #pet_view_wrapper #pet_img_holder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #pet_view_wrapper #pet_img_holder img {
        margin-top: 10px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border: solid 4px #5A4633;
        max-width: 100%;
        max-height: 100%;
    }

    #pet_view_wrapper #pet_view_info .pet_details_row {
        margin-top: 0;
    }

    /****** adoption section */
    #pet_adoption_wrapper {
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 100px;
        margin: 100px auto;
    }

    #bg_house_pet_view {
        margin-bottom: 40px;
    }

    /*****************************************  MY LISTING PAGE */
    #my_listings_wrapper {
        min-width: 100%;
    }

    #my_listings_wrapper #my_listings_container {
        width: 80%;
        min-height: fit-content;
    }
}

/*********************************     @media (min-width: 356px) and (max-width: 575px)  *******/
@media (min-width: 575px) and (max-width: 770px) {


    /********************************  MY LISTING PAGE */
    #my_listings_wrapper {
        min-width: 100%;
    }

    #my_listings_wrapper #my_listings_container {
        width: 80%;
        min-height: fit-content;
    }

    .myPetCard_wrapper {
        width: inherit;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }

    .myPetCard_wrapper .myPetCard_details_row p {
        margin-bottom: 8px;
    }

    .myPetCard_wrapper .myPetCard_img_holder img {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
    }
}

/*********************************   @media (min-width: 356px) and (max-width: 575px)  *******/
@media (min-width: 356px) and (max-width: 575px) {

    /************ FILTERED SEARCH */

    #pet_tags_container ul {
        width: 100%;

    }

    #pet_tags_container {
        width: 80%;
        background-color: #C19A6B;
        height: 220px;
        border-radius: 10px;
        padding-top: 10px;
    }

    #badge_tag_holder .tag_column {
        padding: 0;
        margin-bottom: 5px;
    }

    #pet_tags_container .badge_tag {
        background-color: #5A4633;
        color: #F5EDE3;
        width: 75%;
        border-radius: 15px;
        padding: 4px;
        letter-spacing: 0.5px;
        font-size: 15px;
        cursor: pointer;
    }

    #pet_tags_container #selected_tags_holder {
        margin-top: 120px;
        width: 95%;
        margin: 120px auto 10px;
    }

    #selected_tags_holder svg {
        color: #5A4633;
        cursor: pointer;
    }

    #selected_tags_holder p {
        font-style: italic;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 15px;
        color: #5A4633;
    }

    #selected_tags_holder #search_button {
        width: 10%;
        background-color: #ffffff;
        border: none;
        border-left: solid 1px #5A4633;
        font-family: "Roboto";
        font-weight: 700;
        color: #5A4633;
        padding: 15px;
        letter-spacing: 0.8px;
    }


    /*************************************** PET LISTNGS (HOMEPAGE)  *****/
    #pet_listing_wrapper {
        margin: 220px auto;
        width: 95%;
    }

    #pet_listing_wrapper .pet_card_wrapper {
        padding: 0;
        margin: 0 auto 20px;
        height: fit-content;
        border-radius: 10px;
        border: solid 1px #C19A6B;
        background-color: #F5EDE3;
    }

    #pet_listing_wrapper #pet_listing_container>.row {
        justify-content: space-evenly;
        margin: 0 auto;
    }

    #pet_listing_wrapper .pet_card_wrapper .card_price_holder {
        color: #F5EDE3;
    }

    #pet_listing_wrapper .pet_card_wrapper p {
        font-style: italic;
        font-family: "Roboto";
        color: #5A4633;
        font-weight: 700;
        letter-spacing: 0.8px;
    }

    #pet_listing_wrapper .view_pet_button {
        letter-spacing: 0.8px;
    }

    #pet_listing_wrapper .view_pet_button:hover {
        background-color: #5A4633;
        color: #ffffff;
    }

    .pet_card_wrapper .img_holder {
        min-height: 150px;
        max-height: 150px;
        padding: 0;
    }

    .pet_card_wrapper .img_holder img {
        width: 100%;
    }

    /************************************ PET DETAILS VIEW ********/
    #pet_view_wrapper {
        width: 98%;
        min-height: fit-content;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #pet_adoption_wrapper .adoption_application_wrapper {
        padding: 40px;
    }

    #pet_view_wrapper #pet_details_holder {
        padding-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #pet_view_wrapper #pet_view_info .pet_details_row {
        margin-top: 10px;
    }

    #bg_house_pet_view {
        margin-bottom: 40px;
    }

    #before_application_text {
        padding-left: 20px;
        padding-right: 20px;
    }

    /****** adoption section */

    #pet_adoption_wrapper #pet_adoption_dropdown_button {
        width: 98%;
        border: solid 1px #5A4633;
        margin: 50px auto 0;
        margin-top: 50px;
        height: 50px;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #5A4633;
    }

    #pet_adoption_wrapper #pet_adoption_dropdown_button:hover {
        width: 98%;
        color: #F5EDE3;
        background-color: #5A4633;
    }


    #pet_adoption_wrapper #bg_house_pet_view img {
        height: 170px;
        margin-left: 40px;
    }

    #pet_adoption_wrapper #adoption_form_details input {
        height: 40px;
        width: 100%;
        margin: 0 auto;
    }


    #pet_adoption_wrapper #form_textarea {
        font-family: "Roboto";
        letter-spacing: 0.8px;
        color: #5A4633;
        margin-bottom: 40px;
        width: 100%;
        margin: 0 auto 40px;
        font-size: 14px;
    }

    #adoption_form_dropdown #adoption_application_submit_button {
        width: 40%;
        margin: 0 auto;
        height: 40px;
        padding: 0;
        border: none;
        background-color: #5A4633;
        color: #F5EDE3;
        font-family: "Roboto";
        font-weight: 700;
        letter-spacing: 0.8px;
    }

    #adoption_form_dropdown #adoption_application_submit_button:hover {
        border: solid 1px #5A4633;
        background-color: inherit;
        color: #5A4633;
    }


    #adoption_form_accordion_wrapper #adoption_form_success_text {
        padding: 30px;
        color: #1b793f;
        font-style: bold;
        text-align: center;
    }

    #adoption_form_accordion_wrapper #adoption_form_failed_text {
        padding: 30px;
        color: #b53c3c;
        font-style: bold;
        text-align: center;
    }

    /********************************  MY LISTING PAGE */
    #my_listings_wrapper {
        min-width: 100%;
    }

    #my_listings_wrapper #my_listings_container {
        width: 80%;
        min-height: fit-content;
    }

    .myPetCard_wrapper {
        width: inherit;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .myPetCard_wrapper .myPetCard_details_row p {
        margin-bottom: 8px;
    }

    .myPetCard_wrapper .myPetCard_img_holder img {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
    }

    #my_listings_wrapper #my_listings_container {
        width: 95%;
        min-height: fit-content;
    }

    #create_new_pet {
        width: 90%;
        margin: 10px auto;
        background-color: #5A4633;
        color: #F5EDE3;
        font-family: "Roboto";
        font-weight: 700;
        letter-spacing: 0.8px;
        border: solid 1px #5A4633;
    }

    #create_new_pet:hover {
        margin: 10px auto;
        color: #5A4633;
        background-color: #F5EDE3;
        font-family: "Roboto";
        font-weight: 700;
        letter-spacing: 0.8px;
    }

    #my_listings_period_holder {
        border: solid 1px #C19A6B;
        border-radius: 10px;
    }

    #my_listings_list_holder {
        border: solid 1px #C19A6B;
        border-radius: 10px;
        margin-left: 5px;
        padding: 10px;
        min-height: 500px;
    }

    .myPetCard_wrapper {
        min-height: 200px;
        width: inherit;
        margin-bottom: 10px;
    }

    .cardList_container>.row {
        height: inherit;
        padding-top: 20px;
    }

    #my_listings_spinner_holder {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #my_listings_spinner_holder .spinner-border {
        height: 80px;
        width: 80px;
        color: #9E7F66;
        margin: 200px auto auto;

    }

    /****** CARDLIST */
    .myPetCard_wrapper {
        height: fit-content;
        padding: 0;
        width: inherit;
        margin-bottom: 20px;
    }

    .myPetCard_wrapper .myPetCard_container {
        height: inherit;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        border-radius: 10px;
        padding: 0;
    }

    .myPetCard_wrapper .myPetCard_details_row {
        margin-top: 5px;
        padding: 0;
    }

    .myPetCard_wrapper .myPetCard_details_row small {
        color: #C19A6B;
    }

    .myPetCard_wrapper .myPetCard_details_row p {
        color: #5A4633;
        font-weight: 600;
        font-family: "Roboto";
        letter-spacing: 0.8px;
    }

    .myPetCard_wrapper .myPetCard_container .row .col {
        margin: 0;
    }

    .myPetCard_wrapper .view_pet_applications_link_holder {
        margin: 0 auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        background-color: #9E7F66;
        width: 100%;
    }

    .myPetCard_wrapper .view_pet_applications_link {
        padding-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    .myPetCard_wrapper .view_pet_applications_link a {

        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: 0.5px;
    }

    .myPetCard_wrapper .myPetCard_img_holder {
        padding-right: 0;
    }

    .myPetCard_wrapper .myPetCard_img_holder img {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 10px;
    }

}